<!--  logback.xml  -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <!--  Configure o nível de log desejado, por exemplo, WARN  -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>